.cards-wrapper {
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  padding: 40px;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0px 5px 2px rgba(0,0,0,0.1);
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.card iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  border-radius: 0;
}

.card {
  flex: 1;
  max-width: 350px;
  text-align: center;
  background: #f0f7f1;
  border-radius: 10px;
  height: auto;
  position: relative;
  transition: transform 0.1s ease-out;
  overflow: hidden;

}

.card:hover {
  transform: scale(1.1);
}

.card:not(:hover) {
  flex: 1;
}

.card iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  border-radius: 0;
}

.extra-content {
  text-align: center;
}

.extra-content p {
  font-size: 1.2rem;
  color: #2c3e50;
  max-width: 700px;
  margin: 0 auto;
}
